main{
  min-height: 70vh;
}
.movie-card{
  align-items: center;
}
.movie{
  display: grid;
  max-width: 100%;
}
.sort-dropdown-btn{
  float:right
}
.favorite-btn{
  cursor: pointer;
  text-align: end;
}